
td a {
    display: block;
    height: auto;
    text-decoration: none;
    color: #212529;
}
td a:hover {
    text-decoration: none;
    color: #212529;
    background: #ccc;
}
.task_form {
    max-width: 500px;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
}

.task_list {
    max-width: 46%;
    border: solid 1px #ccc;
}
.form_wrapper {
    max-width: 46%;
}
